In [1]:
import pandas as pd
from sklearn.utils import shuffle

In [ ]:
# data sources
# 1. https://www.kaggle.com/c/fake-news/data
# 2. https://www.kaggle.com/ksaivenketpatro/fake-news-detection-dataset
# 3. https://www.kaggle.com/nopdev/real-and-fake-news-dataset
# 4. https://www.kaggle.com/clmentbisaillon/fake-and-real-news-dataset
# 5. https://www.kaggle.com/c/nlp-getting-started/data

# Train1

In [2]:
train1 = pd.read_csv('Train1.csv') 
train1.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [3]:
# label 1 = fake, 0 = real

In [4]:
# replacing 1, 0 with  "real, fake"

train1['label'] = train1['label'].map({1:'fake', 0:'real'})

In [5]:
train1.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,fake
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,real
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",fake
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,fake
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,fake

In [6]:
# combining title and text columns
train1_data = train1['title'] + ' ' + train1['text']

In [7]:
train1_data.head()

0    House Dem Aide: We Didn’t Even See Comey’s Let...
1    FLYNN: Hillary Clinton, Big Woman on Campus - ...
2    Why the Truth Might Get You Fired Why the Trut...
3    15 Civilians Killed In Single US Airstrike Hav...
4    Iranian woman jailed for fictional unpublished...
dtype: object

In [8]:
train1_labels = train1['label']

In [9]:
train1_labels.head()

0    fake
1    real
2    fake
3    fake
4    fake
Name: label, dtype: object

# Train2

In [10]:
train2 = pd.read_csv('Train2.csv') 
train2.head()

                                           Statement  Label
0  Says the Annies List political group supports ...  False
1  When did the decline of coal start? It started...   True
2  Hillary Clinton agrees with John McCain "by vo...   True
3  Health care reform legislation is likely to ma...  False
4  The economic turnaround started at the end of ...   True

In [11]:
# renaming the false and true as real, fake respectively

train2['Label'] = train2['Label'].map({False:'fake', True:'real'})

In [12]:
train2.head()

                                           Statement Label
0  Says the Annies List political group supports ...  fake
1  When did the decline of coal start? It started...  real
2  Hillary Clinton agrees with John McCain "by vo...  real
3  Health care reform legislation is likely to ma...  fake
4  The economic turnaround started at the end of ...  real

In [13]:
train2_data = train2['Statement']
train2_data.head()

0    Says the Annies List political group supports ...
1    When did the decline of coal start? It started...
2    Hillary Clinton agrees with John McCain "by vo...
3    Health care reform legislation is likely to ma...
4    The economic turnaround started at the end of ...
Name: Statement, dtype: object

In [14]:
train2_labels = train2['Label']
train2_labels.head()

0    fake
1    real
2    real
3    fake
4    real
Name: Label, dtype: object

# Train 3

In [15]:
train3 = pd.read_csv('Train3.csv')  
train3.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [16]:
# renaming the FAKE and REAL as fake, real respectively

train3['label'] = train3['label'].map({'FAKE':'fake', 'REAL':'real'})
train3.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",fake
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,fake
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,real
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",fake
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,real

In [17]:
train3_data = train3['title'] + ' ' + train3['text']
train3_data.head()

0    You Can Smell Hillary’s Fear Daniel Greenfield...
1    Watch The Exact Moment Paul Ryan Committed Pol...
2    Kerry to go to Paris in gesture of sympathy U....
3    Bernie supporters on Twitter erupt in anger ag...
4    The Battle of New York: Why This Primary Matte...
dtype: object

In [18]:
train3_labels = train3['label']
train3_labels.head()

0    fake
1    fake
2    real
3    fake
4    real
Name: label, dtype: object

# Train 4

In [19]:
train4_fake = pd.read_csv('Train4_1.csv')
train4_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [20]:
train4_fake['label'] = 'fake'
train4_fake.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",fake
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",fake
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",fake
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",fake
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",fake

In [21]:
train4_fake.shape

(23481, 5)

In [22]:
train4_true = pd.read_csv('Train4_2.csv')
train4_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [23]:
train4_true['label'] = 'real'
train4_true.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",real
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",real
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",real
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",real
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",real

In [24]:
train4_true.shape

(21417, 5)

In [25]:
train4 = pd.concat([train4_fake, train4_true], ignore_index=True)

In [26]:
train4.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",fake
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",fake
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",fake
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",fake
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",fake

In [27]:
train4.shape

(44898, 5)

In [28]:
train4_data = train4['title'] + ' ' + train4['text']
train4_data.head()

0     Donald Trump Sends Out Embarrassing New Year’...
1     Drunk Bragging Trump Staffer Started Russian ...
2     Sheriff David Clarke Becomes An Internet Joke...
3     Trump Is So Obsessed He Even Has Obama’s Name...
4     Pope Francis Just Called Out Donald Trump Dur...
dtype: object

In [29]:
train4_labels = train4['label']
train4_labels.head()

0    fake
1    fake
2    fake
3    fake
4    fake
Name: label, dtype: object

# Train5

In [30]:
train5 = pd.read_csv('Train5.csv')  
train5.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [31]:
# target 1 = real, 0 = fake

In [32]:
# replacing 1, 0 with  "real, fake"

train5['target'] = train5['target'].map({1:'real', 0:'fake'})
train5.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,real
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,real
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,real
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",real
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,real

In [33]:
train5['target'].value_counts()

fake    4342
real    3271
Name: target, dtype: int64

In [34]:
train5_data = train5['text']
train5_data.head()

0    Our Deeds are the Reason of this #earthquake M...
1               Forest fire near La Ronge Sask. Canada
2    All residents asked to 'shelter in place' are ...
3    13,000 people receive #wildfires evacuation or...
4    Just got sent this photo from Ruby #Alaska as ...
Name: text, dtype: object

In [35]:
train5_labels = train5['target']
train5_labels.head()

0    real
1    real
2    real
3    real
4    real
Name: target, dtype: object

# Total Data

In [38]:
len(train1_data) + len(train2_data) + len(train3_data) + len(train4_data) + len(train5_data)

89886

In [39]:
len(train1_labels) + len(train2_labels) + len(train3_labels) + len(train4_labels) + len(train5_labels)

89886

In [40]:
train = pd.concat([train1_data, train2_data, train3_data, train4_data, train5_data], ignore_index=True)

In [41]:
len(train)

89886

In [42]:
train.head()

0    House Dem Aide: We Didn’t Even See Comey’s Let...
1    FLYNN: Hillary Clinton, Big Woman on Campus - ...
2    Why the Truth Might Get You Fired Why the Trut...
3    15 Civilians Killed In Single US Airstrike Hav...
4    Iranian woman jailed for fictional unpublished...
dtype: object

In [43]:
labels = pd.concat([train1_labels, train2_labels, train3_labels, train4_labels, train5_labels], ignore_index=True)

In [44]:
len(labels)

89886

In [45]:
labels.head()

0    fake
1    real
2    fake
3    fake
4    fake
dtype: object

In [46]:
labels.value_counts()

fake    45888
real    43998
dtype: int64

In [49]:
data = pd.DataFrame()

In [50]:
data.head()

Empty DataFrame
Columns: []
Index: []

In [51]:
data['text'] = train

In [52]:
data['labels'] = labels

In [53]:
data.head()

                                                text labels
0  House Dem Aide: We Didn’t Even See Comey’s Let...   fake
1  FLYNN: Hillary Clinton, Big Woman on Campus - ...   real
2  Why the Truth Might Get You Fired Why the Trut...   fake
3  15 Civilians Killed In Single US Airstrike Hav...   fake
4  Iranian woman jailed for fictional unpublished...   fake

In [54]:
data.shape

(89886, 2)

# Final data

In [ ]:
# Shuffling the data

In [56]:
data = shuffle(data)

In [57]:
data.head()

                                                    text labels
66717  Pentagon making list of Iraqis who worked alon...   real
75363  Two weeks to unlock Brexit, EU tells May GOTHE...   real
82633  One Direction Is my pick for http://t.co/q2eBl...   fake
82203  Downfall of ex-Samsung strategy chief leaves '...   real
26430  Texas has a higher incarceration rate than Rus...   real

In [58]:
data.shape

(89886, 2)

In [59]:
# saving it into a csv file

data.to_csv('final_data')